%p.float-right= link_to 'New Import', new_import_path, { class: 'btn btn-primary' }

%h1 Imports

%ul
  - for import_result in import_results
    %li= link_to import_result.name, import_path(import_result.import)
